@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&family=Poppins:wght@200&display=swap');
.description-there {
    font-size: 33px;
    color: #3F0071; 
    display: grid;
    align-content: space-between;
    align-items: end;
    justify-items: center;
}

body {
    font-family: 'Fredoka One', cursive;
    font-family: 'Poppins', sans-serif;
    background-color: #F3CCFF;
    font-family: 'Fredoka One', cursive;
}
#choose-pet {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title {
    font-size: 52px;
    color: #E9967A;
    font-family: 'Fredoka One', cursive;
}
.frame-container {
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 30px;
    margin-bottom: 30px;
    font-size: 16px;
    color: #F3CCFF;
    background-color: #001253;
    font-family: 'Poppins', sans-serif;
    width: 200px;
    border-radius: 6px;
    padding: 14px;
}
.ring {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
}


/* .board-style {
    font-size: 16px;
    color: #F3CCFF;
    background-color: #001253;
    font-family: 'Poppins', sans-serif;
    width: 200px;
    border-radius: 6px;
    padding: 14px;
*/


.card-container {
    display:flex;
    gap: 50px;
}
/* Look at superPets.forEach((superPet) => {  */
input:checked + label {
    background-color: #BA94D1;
}

input {
    display: none;
}

.pet-card {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #3F0071;
    width: 115px;
    height: 110px;
    background: white;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 20px;
}
.pet-card img {
    width: 100px;
}
.pet-card img:hover {
    width: 150px;
}

.button-pet {
    border-radius: 10px;
    width: 180px;
    height: 40px;
    border: none;
    margin: 20px;
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
    margin: 74px;
}

.button-pet:hover {
    background-color: #BA94D1;
}

